{% extends 'base.html' %}

{% block content %}

<div class="body">
	<section id="button-section">
		<div class="button-body">
			<a href="#eco"><button class="button-eco">Eco-Friendly</button></a>
			<a href="#repair"><button class="button-repair">Alterations / Repairs</button></a>
		</div>
		<div class="button-body">
			<a href="#sameday"><button class="button-same">Same-day Service</button></a>
			<a href="#prices"><button class="button-prices">Prices</button></a>
		</div>
	</section>
	<section id="about">
		<p id="about-title">About Quality Dry Cleaners</p>
		<p id="about-para">
			Quality Dry Cleaners is a family-owned business and we strive to provide eco-friendly services to our customers.<br><br>
			HOURS: <br>
			Mon - Fri: 7:00AM to 7:00PM<br>
			Sat: 7:00AM to 3:00PM<br>
			Sun: CLOSED
		</p>
	</section>
	<section id="eco">
		<p id="eco-title">Eco-Friendly</p><br>
		<p id="eco-para">
			Quality Dry Cleaners take pride with their Eco-Friendly services. We use all Eco-Friendly products and wish to provide quality services for you. <br>
			We use wet cleaning machines since dry cleaning has a solvent called Perchloroethylene (“perc”). This chemical can be hazardous, so we don't use it. <br>
		</p>
	</section>
	<section id="repair">
		<p id="repair-title">Alterations and Repairs</p><br>
		<p id="repair-para">
			Alterations and Repair prices can vary depending on the job. <br>
			If you have further questions, please feel free to call us<br>
			Phone: 413-783-0987
		</p>
	</section>
	<section id="sameday">
		<p id="sameday-title">Same-Day Info</p><br>
		<p id="sameday-para">
			We do Same-Day services, but not everything is same-day applicable. <br>
			If you have further questions, please feel free to call. <br>
			Phone: 413-783-0987
		</p>
	</section>
	<section id="prices">
		<p id="prices-title">Prices Info</p><br>
		<p id="prices-para">
			Shirt = 7.25 &emsp;&emsp; Shorts = 7.75 &emsp;&emsp; Skirts = 7.75 &emsp;&emsp; Suit 2-piece = 18.95 &emsp;&emsp; Suit 3-piece = 24.00<br>
			SweatShirt = 7.25 &emsp;&emsp; Sweaters = 8.25 &emsp;&emsp; Tank top = 7.00 &emsp;&emsp; Blazer = 12.00 &emsp;&emsp; Blouses = 7.75<br>
			Dress = 15.00 &emsp;&emsp; Dress 2-piece = 21.00 &emsp;&emsp; Jacket = 16.00 &emsp;&emsp; Jean = 8.25<br>
			<br>
			What is shown is not everything that we do. Call to see if we can do your clothes!<br>
			These prices are varied to change. <br>
			If you have further questions, please call. <br>
			Phone: 413-783-0987
		</p>
	</section>
</div>

{% endblock content %}